<div>
    <md-card md-theme-watch>
        <md-card-title flex layout="row">
            <md-card-title-text layout="column" flex-xs="50" flex-gt-sm="30">
                <span class="md-headline">{{$ctrl.quote.name}}</span>
                <span class="md-subhead">{{$ctrl.quote.currentValue|currency:'R$'}}</span>

                <img class="quote-symbol" ng-src="{{$ctrl.getSymboUrl()}}" />

            </md-card-title-text>
            <md-card-title-media flex>
                    <canvas ng-attr-id="{{quote.name}}" class="chart chart-line" chart-data="$ctrl.chartDataset.data" 
                    chart-labels="$ctrl.chartDataset.labels" chart-colors="$ctrl.chartDataset.colors" chart-options="$ctrl.chartDataset.options"></canvas>
            </md-card-title-media>
        </md-card-title>
    </md-card>
</div>

<style>
    quote-view .quote-symbol{
        width:100%;        
    }
</style>